<include href="views/navbar.html">

    <div class="container divCol"><!--main div for page-->
        <h1 class="text-center">Transaction List</h1>
        <div class='table'>
            <table id="transaction-table" class="table">
                <thead>
                <tr>
                    <th>Delete Transaction?</th>
                    <th>Buyer Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>City, State, Zip</th>
                    <th>Car Make/Model</th>
                    <th>Price</th>
                    <th>Purchase</th>
                    <th>Sold Date</th>
                    <th>Payment Method</th>
                </tr>
                </thead>
                <tbody>
                <repeat group="{{ @transactions }}" value="{{ @transaction}}">
                    <tr>
                        <td data-row="{{@transaction['transaction_id']}}">
                            <input class="delete" type="checkbox" name="record"
                                   data-tid="{{ @transaction['transaction_id'] }}"
                                   data-in-row="{{@transaction['transaction_id']}}">
                              {{ @transaction['transaction_id'] }}</td>
                        <td>{{ @transaction['last_name'] }}, {{ @transaction['first_name'] }}</td>
                        <td>{{ @transaction['phone'] }}</td>
                        <td>{{ @transaction['email'] }}</td>
                        <td>{{ @transaction['city'] }}, {{ @transaction['state'] }}, {{ @transaction['zip'] }}</td>
                        <td>{{ @transaction['model'] }}</td>
                        <td>{{ @transaction['cost'] }}</td>
                        <td>
                            <div>
                                <label class="form-check-label" for="isSold">
                                    <input class="form-check-inline isSold" type="checkbox" id="isSold" value="1"
                                           name="isSold" data-tid="{{ @transaction['transaction_id'] }}"

                                    <check if=" {{ @transaction['sold'] }} > 0">
                                        checked = "checked"
                                    </check>
                                    >Complete</label>
                            </div>
                        </td>
                        <td>{{ date('m/d/y',strtotime(substr(@transaction['created_at'],
                            0,strpos(@transaction['created_at']," ")))) }}</td>
                        <td>{{ @transaction['type'] }}</td>
                    </tr>
                </repeat>
                </tbody>
            </table>
            <Label>Delete Selected Transactions</Label>
            <br>
            <button type="button" class="delete-row btn btn-secondary mb-3">Delete Transaction</button>
        </div>
    </div><!--main div for page-->

    <script src="//code.jquery.com/jquery-3.3.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

    <!--
        <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="//cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    -->
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/fc-3.3.0/r-2.2.3/datatables.min.js"></script>
    <script type="text/javascript" src="model/dataTable.js"></script>
    </body>
    </html>