
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/home.css">

    <title>Car Dealers</title>
</head>
<body>
<div class="container">
    <!-- The carousel -->
    <div class="carousel slide carousel-fade" id="homeCarousel" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#homeCarousel" data-slide-to="1"></li>
            <li data-target="#homeCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div  class="carousel-item active">
                <img class="d-block w-100" src="images/carSalesCaro.jpg" alt="Dealer slapping roof of the car">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="images/dealerCaro.jpg" alt="Our prices so low they are basically free">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="images/lowPrisesCaro.jpg" alt="We sell to everyone except bad credit">
            </div>
        </div>
        <a class="carousel-control-prev" href="#homeCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
                <span class="sr-only">Previous</span>
            </span>
        </a>
        <a class="carousel-control-next" href="#homeCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
                <span class="sr-only">Next</span>
            </span>
        </a>
    </div>

    <!-- Header -->
    <div class="jumbotron">
        <h1 class="display-4">Car Dealers</h1>
        <p>Want exceptional cars? Well, you're in the right place!</p>
    </div>

    <p class="headerP">
        We are here to bring you the best cars possible, sold by the best dealers anyone can find.
        We search the web for reliable dealers and make sure the listed car isn't a rebuild tittle.
        After that we post them here for your convenience. Our goal with Car Dealers is to search the web
        for you so you dont have too. Our listing range from every day cars to the most exotic ones. Plus
        we make sure we find the best prices so you can save your hard earned cash!
    </p>
    <hr>
    <div class="row">
        <div class="col-xl-8 col-lg-7 col-12">
            <h2>See What People Say</h2>
            <div class="comments">
                <p>
                    I was skeptical at first but after heavy use this website saved me a bunch of time
                    and money. I always try to find better deals on the car thats listed here but I never can!
                </p>
                <hr>
                <p>
                    <span class="d-inline-block">
                        <span class="font-italic pl-3">-Bobby Johnson</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </span>
                </p>
            </div>

            <div class="comments">
                <p>
                    This is a great cite to get a nice car for a great price. The one thing that bugs me
                    is that there is not enough listings. I hope they fix this soon.
                </p>
                <hr>
                <p>
                    <span class="d-inline-block">
                        <span class="font-italic pl-3">-Jessy Stone</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </span>
                </p>
            </div>

            <div class="comments">
                <p>
                    I am a celebrity and I approve of this cite. My words should be enough.
                </p>
                <hr>
                <p>
                    <span class="d-inline-block">
                        <span class="font-italic pl-3">-Dwane Jonny</span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </span>
                </p>
            </div>

        </div>
        <div class="col-xl-4 col-lg-5 d-lg-block d-none">
            <img class="founders" src="images/founders.jpg" alt="A picture of the founders">
        </div>
    </div>
    <hr>
    <button id="test" class="shadow button btn btn-dark">Browse the List</button>

    <footer>
        <p></p>
    </footer>
</div>

<!-- jQuery first, then Popper.js, Bootstrap JS then personal validation script-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>