<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/home.css">

    <title>Payment Information</title>
</head>
<body>

<header id="header">
    <div class="jumbotron text-center">
        <h1 class="display-4">Payment Details</h1>
    </div><!-- JumboTron Div -->
</header>

<div class="container align-items-center">
    <form method="post" action="#">
        <div class="row"><!-- for entire form-->
            <div class="col-md-8"><!--form info that is not the cart -->
                <h4>Buyer Information</h4>
                <div class="row"><!--first name last name row-->
                    <div class="form-group col-md-6">
                        <label for="firstName">First Name *</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" value="{{ @payment['firstName'] }}">
                        <check if="{{ @errors['first'] }}">
                            <span class="err-validate">{{ @errors['first'] }}</span>
                        </check>

                    </div><!--first name div-->
                    <div class="form-group col-md-6">
                        <label for="lastName">Last Name *</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" value="{{ @payment['lastName'] }}">
                        <check if="{{ @errors['last'] }}">
                            <span class="err-validate">{{ @errors['last'] }}</span>
                        </check>

                    </div><!--last name div-->
                </div><!--first name last name row-->
                <div class="row"> <!-- Row for Number and email -->
                    <div class="form-group col-md-6">
                        <label for="phoneNumber">Contact Number *</label>
                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                               placeholder="Ex. 999-999-9999" value="{{ @payment['phoneNumber'] }}">
                        <check if="{{ @errors['number'] }}">
                            <span class="err-validate">{{ @errors['number'] }}</span>
                        </check>

                    </div><!--contact number div-->
                    <div class="form-group col-md-6">
                        <label for="email">Email *</label>
                        <input type="text" class="form-control" id="email" name="email"
                               placeholder="123@test.com" value="{{ @payment['email'] }}">
                        <check if="{{ @errors['email'] }}">
                            <span class="err-validate">{{ @errors['email'] }}</span>
                        </check>

                    </div><!--email div-->
                </div><!-- Row for Number and email -->
                <div class="form-row"><!--Address-->
                    <div class="form-group col-md-12">
                        <label for="address">Address *</label>
                        <input class="form-control" type="text" id="address" name="address"
                               placeholder="1234 Test St." value="{{ @payment['address'] }}">
                        <check if="{{ @errors['address'] }}">
                            <span class="err-validate">{{ @errors['address'] }}</span>
                        </check>

                    </div>
                </div><!--Address-->
                <div class="form-row"><!--Address 2-->
                    <div class="form-group col-md-12">
                        <label for="address2">Address 2 (Optional)</label>
                        <input class="form-control" type="text" id="address2" name="address2"
                               placeholder="Building #, Apt" value="{{ @payment['address2'] }}">
                    </div>
                </div><!--Address-->
                <div class="form-row"><!--City State Zip-->
                    <div class="form-group col-md-5">
                        <label for="city">City *</label>
                        <input class="form-control" type="text" id="city" name="city" value="{{ @payment['city'] }}">
                        <check if="{{ @errors['city'] }}">
                            <span class="err-validate">{{ @errors['city'] }}</span>
                        </check>

                    </div><!--City-->
                    <div class="form-group col-md-4">
                        <label for="state">State *</label>
                        <select id="state" name="state" class="form-control">
                            <option value="WA" selected>Washington</option>
                            <repeat group="{{ @states }}" key="{{ @stateKey}}" value="{{ @state }}">
                                <check if="{{ @payment['state'] == @stateKey }}">
                                    <true>
                                        <option value="{{ @stateKey }}"selected>{{ @state }}</option>
                                    </true>
                                    <false>
                                        <option value="{{ @stateKey }}">{{ @state }}</option>
                                    </false>
                                </check>
                                <!-- put values into array to make sticky -->
                            </repeat>
                        </select>
                        <check if="{{ @errors['state'] }}">
                            <span class="err-validate">{{ @errors['state'] }}</span>
                        </check>

                    </div><!--state-->
                    <div class="form-group col-md-3">
                        <label for="zipCode">Zip *</label>
                        <input type="text" class="form-control" id="zipCode" name="zipCode" value="{{ @payment['zipCode'] }}">
                        <check if="{{ @errors['zip'] }}">
                            <span class="err-validate">{{ @errors['zip'] }}</span>
                        </check>

                    </div><!--zip-->
                </div><!--City State Zip-->
                <hr class="mb-5">
                <h4>Payment Information</h4>
                <div class="row"><!--how are to pay radio button-->
                    <div class="form-group col-md-12">
                        <div class="form-check form-check-inline"><!--Debit -->
                            <input class="form-check-input" type="radio" id="debit" value="debit" name="paymentMethod"
                                   checked>
                            <label class="form-check-label" for="debit">Debit</label>
                        </div><!--Debit -->
                        <div class="form-check form-check-inline"><!--Credit -->
                            <input class="form-check-input" type="radio" id="credit" value="credit"
                                   name="paymentMethod">
                            <label class="form-check-label" for="credit">Credit</label>
                        </div><!--Credit -->
                    </div>
                </div><!--how are to pay radio button-->
                <div class="row"><!--Name on Card, CardNumber-->
                    <div class="form-group col-md-6">
                        <label for="cardName">Full Name on Card *</label>
                        <input type="text" class="form-control" id="cardName" name="cardName"
                               placeholder="as displayed on card" value="{{ @payment['cardName'] }}">
                        <check if="{{ @errors['name'] }}">
                            <span class="err-validate">{{ @errors['name'] }}</span>
                        </check>

                    </div><!--Name on card-->
                    <div class="form-group col-md-6">
                        <label for="cardName">Card Number *</label>
                        <input type="text" class="form-control" id="cardNumber" name="cardNumber" value="{{ @payment['cardNumber'] }}">
                        <check if="{{ @errors['cardNumber'] }}">
                            <span class="err-validate">{{ @errors['cardNumber'] }}</span>
                        </check>

                    </div><!--card number-->
                </div><!--Name on Card, CardNumber-->
                <div class="row"><!--Expiration CVV-->
                    <div class="form-group col-md-4">
                        <label for="monthExp">Expiring Month *</label>
                        <select class="form-control" id="monthExp" name="monthExp">
                            <option value="none" selected>Select Month</option>
                            <repeat group="{{ @months }}" value="{{ @month }}">
                                <check if="{{ @payment['monthExp'] == @month }}">
                                    <true>
                                        <option value="{{ @month }}"selected>{{ @month }}</option>
                                    </true>
                                    <false>
                                        <option value="{{ @month }}">{{ @month }}</option>
                                    </false>
                                </check>
                                <!-- put values into array to make sticky -->
                            </repeat>
                        </select>
                        <check if="{{ @errors['month'] }}">
                            <span class="err-validate">{{ @errors['month'] }}</span>
                        </check>

                    </div><!--month exp-->
                    <div class="form-group col-md-3">
                        <label for="yearExp">Year Exp *</label>
                        <select class="form-control" id="yearExp" name="yearExp" >
                            <option value="none" selected>Select a Year</option>
                        <repeat group="{{ @years }}" value="{{ @year }}">
                            <check if="{{ @payment['yearExp'] == @year }}">
                                <true>
                                <option value="{{ @year }}"selected>{{ @year }}</option>
                                </true>
                                <false>
                                    <option value="{{ @year }}">{{ @year }}</option>
                                </false>
                            </check>
                            <!-- put values into array to make sticky -->
                        </repeat>
                           <!-- <option value="none">Select a Year</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>-->
                        </select>
                        <check if="{{ @errors['year'] }}">
                            <span class="err-validate">{{ @errors['year'] }}</span>
                        </check>

                    </div><!--year exp-->
                    <div class="form-group col-md-3">
                        <label for="cvv">CVV *</label>
                        <input class="form-control" type="text" id="cvv" name="cvv" value="{{ @payment['cvv'] }}">
                        <check if="{{ @errors['cvv'] }}">
                            <span class="err-validate">{{ @errors['cvv'] }}</span>
                        </check>

                    </div><!--CVV-->
                </div><!--Expiration & CVV-->
                <hr class="mb-3">
                <div class="col text-center pb-5">
                    <button id="submit" type="submit" class="btn btn-primary">
                        Purchase Vehicle!
                    </button>
                </div>
            </div><!-- form info that is not the cart -->
            <div class="col-md-4"><!--Cart-->
                <h4>Vehicle to Purchase</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h6>{{ @car['Identification']['Model Year'] }}</h6>
                        <small>More Vehicle Description (Possibly Small picture</small>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total Cost:</span>
                        <strong class="text-success">${{ @car['Identification']['Cost'] }}</strong>
                    </li>
                </ul>
            </div><!--Cart-->


        </div> <!--For Entire Form-->


    </form>

</div><!--container div-->


<!-- jQuery first, then Popper.js, Bootstrap JS then personal validation script-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>